@charset "UTF-8";

/* ----------- RESET -------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Montserrat;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
	font-family:'arial','helvetica','sans-serif';
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

/* ------- HEADER ---------*/

header {
	width: 100%;
    background-color: #292017;	
}

h1 {
	font-family:'Rochester';
	font-size: 60px;
	padding: 20px;
	color: white;
	text-align: center;
}

h1 a {
    color: #fff;
}

nav.nav-header {
	background-color: black;
	width:100%;
	height: 40px;
	font-family:'Alegreya';
	font-size: 15px;
}

nav.nav-header a:hover,
header h1 a:hover {
    color: #FFDFB4;
}

div.pictos {
    float: right;
    margin-top: 10px;
}

header a img {
    width: 30px;
    margin-right: 50px;
}

header nav.nav-header ul {
	margin-left: 25%;
}

header nav.nav-header ul li {
float: left;
margin-right: 10%;
margin-top: 1%;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
}

header nav.nav-header ul li a {
    text-decoration: none;
	color: white;
    font-weight: bold;
}

/* ----------- ACCUEIL ---------- */

main {
    font-family: 'Alegreya', serif;
    background: #eee;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#acceuil h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 31%;
    font-size: 90px;
    line-height: 59%;
    font-family: 'Cormorant Garamond', serif;
}

#acceuil img {
    width: 100%;
}

article {
    text-align: center;
}

article h1 {
    font-size: 40px;
    color: #000;
}

article p {
    font-size: 20px;
    line-height: 200%;
}

.histoire article hr {
    margin: 10px 0;
}

section.histoire,
section.info-pratique {
    padding: 50px;
}

.histoire article div {
    margin: 50px 0;
}

.histoire q {
    font-style: italic;
    font-size: 20px;
    line-height: 200%;
}

section.info-pratique div{
    width: 40%;
    float: right;
    font-size: 20px;
    font-family: 'Alegreya', serif;
    line-height: 200%;
}

.facade{
    width: 50%;
}


/* --------- ESHOP ----------- */

.eshop {
    padding: 50px 50px 0 50px;
}

.eshop a {
    text-decoration: none;
    color: #000;
}

.eshop hr {
    width: 81%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.eshop h2 {
    color: #000;
    font-family: 'Alegreya', serif;
    font-size: 30px;
    text-align: center;
}

.eshop img {
    width: 300px;
}

.eshop ul {
    text-align: center;
}

.eshop li {
    width: 30%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.eshop li:hover {
    -moz-box-shadow: 5px 5px 5px #656565;
    -webkit-box-shadow: 5px 5px 5px #656565;
    -o-box-shadow: 5px 5px 5px #656565;
    box-shadow: 5px 5px 5px #656565;
}

.eshop h3 {
    font-weight: bold;
}

.eshop form {
    width: 100%;
    text-align: center;
}

.recherche {
    width: 300px;
    height: 25px;
}

.valider {
    background: #000;
    padding: 5px 10px;
    color: #fff;
    border: 0;
}

.pagination {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.pagination a {
    letter-spacing: 50px;
}

/* --------- PRODUIT ------- */

.produit {
    width:  65%;
    font-size: 20px;
    margin: 0 auto;
    padding: 50px;
}

.produit hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.eshop h2,
.produit h2 {
    color: #000;
    font-family: 'Alegreya', serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.produit img {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.produit .detail {
    width: 40%;
    line-height: 100%;
    float: right;
}

.produit .detail h3 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 20px;
}

strong {
    text-transform: uppercase;
    font-weight: bold;
}

em {
    font-size: 15px;
}

.produit img.panier {
    width: 200px;
    margin-top: 100px;
    margin-left: 100px;
}

hr {
    border: 1px solid #000;
}

.produit .recherche {
    width: 300px;
    height: 25px;
}

.produit .valider {
    background: #000;
    padding: 5px 10px;
    color: #fff;
    border: 0;
}

.produit form {
    text-align: center;
}

/* --------- FOOTER -------*/

footer{
    background-color: #292017;
    width: 100%;
    box-sizing:border-box;
    font-family:'Alegreya';
    font-size : 15px;
    display: table;
    color: #fff;
    border-top: 10px solid #000;
}

footer h2 {
	font-size: 18px;
	margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

footer a {
	text-decoration: none;
	color: #fff;
}

footer nav ul {
	display: block;
    margin-bottom: 15px;
}

footer nav ul li {
    line-height: 200%;
}

.col33 {
	width: 33%;
	display: table-cell;
	padding-top: 10px;
	box-sizing: border-box;
	text-align: center;
}

.livraison img {
    margin: 10px 80px 0 0;
    width: 70px;
}
.livraison img:last-child {
    margin-right: 0;
}

.social a {
    margin-right: 20px;
}

.social a img {
    width: 50px;
}

.social a:last-child {
    margin-right: 0;
}


h2:before {
	content: "~";
}
h2:after {
	content: "~";
}

/* -------- PANIER -------- */
.chaudron {
    margin: 0 auto;
    font-family: 'alegreya';
    padding: 50px;
}

.chaudron h2 {
    font-size: 30px;
    font-family: 'alegreya';
    text-align: center;
}

.chaudron hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #000;
}

.chaudron p {
    text-align: center;
    line-height: 24px;
}

.description {
    float: left;
    width: 30%;
        margin-left: 100px;
}

.description h3 {
    font-size: 25px;
    font-family: 'alegreya';
    text-align: center;
    line-height: 50px;
}

.chaudron .quantite {
    float: left; 
    width: 30%;   
}

.chaudron img {
    width: 20%;
    display: block;
    float: left;
    margin-left: 100px
}

.chaudron img.acheter {
    margin-top: 150px;
}

/* ----- RECHERCHE ------- */

.no-result {
    text-align: center;
    font-size: 20px;
     line-height: 150px;
    padding-bottom: 50px;
}

.no-result .jsp {
    font-size: 250px;
    line-height: 250px;
}

/* ------ PANEL ADMIN -------- */

section.panel-admin h1 {
    color: #000;
}

.panel-admin ul {
    list-style-type: none;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
}

.panel-admin ul li {
    text-align: center;
}

.panel-admin ul li:nth-child(2n) {
    background: #ccc;
}

.panel-admin ul li:nth-child(2n+1) {
    background: #ddd;
}

.panel-admin form {
    display: inline-block;
}

div.admin-button {
    text-align: center;
    width: 100%;
}
.button {
    padding: 5px 5px;
    background: #000;
    color: #fff;
    border: 0;
}

.ajouter {
    text-align: center;
    padding-bottom: 20px;
}

.ajouter form p {
    margin-bottom: 15px;
}
