@charset "UTF-8";

/* ----------- RESET -------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Montserrat;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
	font-family:'arial','helvetica','sans-serif';
}

/* ------- HEADER ---------*/
header {
	width: 100%;
	height: 120px;	
}
.header {
	background-color: #403f3f;
}
h1 {
	font-family:'rochester';
	font-size: 60px;
	padding: 20px;
	color: white;
	text-align: center;
}
nav.nav-header {
	background-color: black;
	width:100%;
	height: 40px;
	font-family:'Alegreya';
	font-size: 15px;
}
.picto {
	float: right;
	margin-right: 50px;
	margin-top: 15px;
}
header nav.nav-header ul {
	margin-left: 25%;
}
header nav.nav-header ul li {
float: left;
margin-right: 10%;
margin-top: 1%;
text-decoration: none;
font-size: 18px;
}
header nav.nav-header ul li a {
    text-decoration: none;
	color: white;
    font-weight: bold;
}

/* ----------- ACCUEIL ---------- */

main{
    font-family: 'Alegreya', serif;
}
#acceuil h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 31%;
    font-size: 73px;
    width: 481px;
    line-height: 100%;
}

#acceuil img{
    width: 100%;
}

section:nth-child(2){
    padding: 20px;
}

section:nth-child(2) hr{
    width: 900px;
}

article{
    text-align: center;
}

article h1{
    font-size: 43px;
    color: #000;
}

article p {
    font-size: 20px;
    line-height: 30px;
}


main{
    width: 100%;
    margin: 0 auto;
}

figure{
    padding: 10px;
}

figcaption{
    width: 621px;
    float: right;
}

figcaption {
    font-size: 20px;
    font-family: 'Alegreya', serif;
    margin-top: 5%;
}


.facade{
    width: 48%;
    margin-left: 20px;
}


/* --------- ESHOP ----------- */

div.eshop {
<<<<<<< HEAD
    margin: 50px 50px;
}

.eshop h2 {
    color: #000;
    font-family: 'Alegreya', serif;
    font-size: 30px;
    text-align: center;
}

.eshop img {
    width: 300px;
}

.eshop ul {
    margin: 50px 0;
    text-align: center;
}

.eshop li {
    width: 30%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.eshop h3 {
    font-weight: bold;
}

/* --------- PRODUIT ------- */

.produit {
    width:  65%;
    margin: 50px auto;
    font-size: 20px;
}

.produit h2 {
=======
    margin: 50px 0;
}

.eshop h2 {
>>>>>>> 7c5f0c3a0b3efe198ecb525206cd8208f9a0fe7a
    color: #000;
    font-family: 'Alegreya', serif;
    font-size: 30px;
    text-align: center;
<<<<<<< HEAD
    margin-bottom: 30px;
}

.produit img {
    float: left;
}

.produit .detail {
    width: 40%;
    line-height: 150%;
    float: right;
}

.produit .detail h3 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
}

em {
    text-transform: uppercase;
    font-weight: bold;
}

.produit img.panier {
    width: 200px;
}

hr {
    border: 1px solid #000;
=======
>>>>>>> 7c5f0c3a0b3efe198ecb525206cd8208f9a0fe7a
}

/* --------- FOOTER -------*/

footer{
    background-color: #403f3f;
    width: 100%;
    box-sizing:border-box;
    font-family:'Alegreya';
    font-size : 15px;
    display: table;
    color: #fff;
}

footer h2 {
	font-size: 18px;
	margin-bottom: 5px;
}

footer a {
	text-decoration: none;
	color: #fff;
}

footer nav ul {
	display: block;
}

footer nav ul li {
	padding: 10px;
	box-sizing: border-box;
}

.col33 {
	width: 33%;
	display: table-cell;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

footer img {
	padding: 20px;
}

h2:before {
	content: "~";
}
h2:after {
	content: "~";
}